@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/**/

body {
  background-color: hsl(185, 41%, 84%);
}

.App {
  text-align: center;
}

.App h1 {
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
  font-size: 1.4em;
  letter-spacing: .3em;
}